body {
    margin: 60px auto;
    width: 90%;
    background-color: #B3B3D7;
}

nav ul {
    font-family:'Century Gothic';
    padding: 2px;
    list-style: none;
    font-weight: bold;
    border-bottom: 3px solid #d5d5d5;
    color: #000078;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding-bottom: 10px;
    color: #000078;
}

a {
    text-decoration: none;
    color: #000078;
}

a:hover {
    text-decoration: underline;
    color: #FFFFFF;
    cursor: pointer;
}

h1 {
    font-size: 4em;
    font-family:'Century Gothic';
    color: #AA0078;
}

h2{
    font-size: 2em;
    font-family: "Century Gothic";
}

h3 {
    font-size: 1em;
    font-family: "Century Gothic";
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #000078;
    font-family:"Century Gothic"
}
footer {
    border-top: 3px solid #d5d5d5;
    font-size: .8em;
    padding-top: 20px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
